.red-background {
    background-color: red;
    height: 50px;
  }
  
.green-background {
    background-color: green;
    height: 50px;
}


.blue-background {
  background-color: blue;
  height: 50px;
}

.yellow-background {
  background-color: yellow;
  height: 50px;
}